.community-tag {
    display:none;
}
.community-tag.show {
    display:block;
}

.controls {
    display:flex;
    justify-content: space-between;

}

.controls > article {
    margin-left: auto;
    margin-right:auto;
    margin-top: 72px;
    padding:8px;
    margin-bottom: 36px;
}

.controls label {
    display:flex;
    flex-direction:column;
}
.controls input {
    margin-left: auto;
    margin-right:auto;
}
.red,input[type="submit"].red {
    background: red;
}

.hide {
    display:none;
}

.center {
    text-align: center;
    height: 64px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
