<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops</title>
    <link rel="stylesheet"
    href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.5.min.css"/>
</head>
<body>
    <section>
        <article>
            <h1>The site is broken ):</h1>

            <p>We'll look into this error!</p>
            <p>This may be caused by an unusually heavy load on the site. You can try again after a few minutes.</p>
            <p>If the error persists, please report it to us</p>
            <p><a href="/">Go back</a> to the home page.</p>
        </article>

    </section>

</body>
</html>