<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Chart Planner - Template Spreadsheet</title>
    <link defer rel="stylesheet"
    href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.5.min.css"/>
    <link defer rel="stylesheet" type="text/css" href="static/basic.css?date={{yearmonth}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '{{fb_app_id}}',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });

    FB.getLoginStatus(function(response){
        if (response.status === 'connected') {
            $('.fb-login-button').hide();
            $('.ask-for-photos').removeClass('hide');
        }
      }, {scope: 'user_photos'});
  };

  (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function askForPhotos() {
      FB.getLoginStatus(function(response){
        getPhotos(response);
      }, {scope: 'user_photos'});
  }

  $('button').click(function(event) {
            $('button')
            .attr('disabled', 'disabled')
            .attr('type', 'reset') // css hack to make button appear grey
            .val('Building...');
        });

</script>
<script src="static/fb_callback.js?date={{yearmonth}}"></script>
<section>
    <h1>Seating Chart Planner</h1>
    <article>
    <h2>Create Template Spreadsheet</h2>
        <div id="fb-root"></div>
        <div onlogin="askForPhotos()" class="fb-login-button"
             data-max-rows="1" data-size="large" data-button-type="login_with"
             data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" data-scope="user_photos"></div>
        <div class="ask-for-photos hide"><button onclick="askForPhotos()" type="submit">Build Template Guest List</button></div>
        <div id="status"></div>
        <p>
        <div>
            <span>From your publicly available Facebook photos, we'll construct a template spreadsheet that you can further edit.</span>
            <span>To do, we'll retrieve the list of people tagged in recent Facebook photos.</span>
        </div>
        <div>
            <span>We will not retain any information on our servers and this information will not be used for any other purpose.</span>
        </div>
        </p>

        <p>
        Once you login, you can download an Excel file where you can continue editing and adding more names.
            <a href="/">Return to the home page</a> once done, and upload the guest list.
        </p>

        <div class="logout hide">

        </div>


        <form method="POST" action="template_spreadsheet" style="display:none;">
            <input name="communities">
            <input name="persons">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        </form>
    </article>
    <a href="/">Back to Home</a>
</section>

<footer>
    <nav>
        <ul>
            <li>
                <small>
                    <a href="/privacy">Privacy</a>
                </small>
            </li>
            <li>
                <small>
                    <a href="/terms">Terms and Conditions</a>
                </small>
            </li>
        </ul>
    </nav>

</footer>


</body>
</html>