<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dining Table Seating Planner</title>
    <link rel="stylesheet"
    href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.1.1.min.css"/>
</head>
<body>
    <h1>Upload CSV</h1>
    <p>
    Each column consists of a header and subsequent rows are names of people
    </p>
    <form method="post" enctype="multipart/form-data" action="solve">
        <fieldset>
          <input type="file" name="file">
          <label for="size">Seats per table</label>
          <input type="number" name="size"
                    placeholder="10">
         <input type="submit" value="Upload">
        </fieldset>
    </form>
</body>
</html>