<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dining Table Seating Planner</title>
    <link rel="stylesheet"
    href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.1.1.min.css"/>
</head>
<body>
    <h1>Dining Table Seat Planner</h1>

    <article>
        <form method="post" enctype="multipart/form-data" action="solve">
            <fieldset>
                <label for="file">Guest List (.csv or .xlsx)</label>
              <input type="file" name="file">
              <label for="size">Seats per table</label>
              <input type="number" name="size"
                        placeholder="10">
             <input type="submit" value="Upload">
            </fieldset>
        </form>
    </article>
    <div>
        <p>
        Each column consists of a header and subsequent rows are names of people who know each other.

            A single person is allowed to appear in multiple columns. E.g. "Hercule Poirot" is both a primary school
            friend of the groom, and also a primary school friend of the bride.
        </p>
        <img src="static/example.PNG">
    </div>
    <article>
        <p>
        Already have a token to retrieve a seating plan with?


        </p>
        <form method="get" enctype="multipart/form-data" action="retrieve">
            <fieldset>
                <label for="job_id">Token</label>
              <input type="text" name="job_id">

             <input type="submit" value="Retrieve">
            </fieldset>
        </form>
    </article>
</body>
</html>