<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dining Tables Seating Chart Plan</title>

    <meta name="keywords" itemprop="keywords"
          content="Wedding sitting plan, optimal sitting arrangement, seating chart, seating plan, free seating chart planner,
          seating chart using excel, import from Facebook, social event planning, dining events planning">
    <meta name="description" itemprop="description" content="Free tool for creating a sitting arrangement.
    Produces a seating chart in Excel based on the social relationships you have.">

    <link rel="stylesheet"
    href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.5.min.css"/>
    <link defer rel="stylesheet" type="text/css" href="static/basic.css?date={{yearmonth}}">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="static/common.js?date={{yearmonth}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <script src="static/home.js?date={{yearmonth}}"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '{{fb_app_id}}',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.11'
        });

        facebookLogin(function() {});
      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // TODO check once page is ready
      function facebookLogin(errCallback) {
          FB.getLoginStatus(function(response){
          // TODO check if login already
            if (response.status === 'connected') {
                statusChangeCallback(response);
            } else {
                if (errCallback) {
                    errCallback();
                } else {
                    $('.fb-login-message').removeClass('hide');
                }
            }
          }, {scope: 'user_photos'});
      }

      function logoutFacebook(event) {
            FB.logout(function(response) {
              deleteFbCookie("fblo_" + {{fb_app_id}});
              window.location.reload();
            });
      }
    </script>
    <div id="fb-root"></div>
    <header>
        <section>
        <nav>
            <ul>
                <li>
                <div onlogin="facebookLogin()"
                     class="fb-login-button" data-max-rows="1" data-size="large"
                     data-button-type="login_with" data-show-faces="false"
                     data-auto-logout-link="false" data-use-continue-as="false"
                     data-scope="user_photos"></div>
                    <div class="fb-login-message hide">Unable to log in. Please refresh the page and try again.</div>
                </li>
            </ul>
            <ul>
                <li>
                    <button type="submit" class="fb-logout center hide" onclick="logoutFacebook()">Logout</button>

                </li>
            </ul>
        </nav>
        </section>
    </header>
    <section class="no-submission">
        {% if result.deleted_msg %}
            <p class="center">You have deleted the seating plan.
                You will need to re-submit the guest list to recreate the plan if you need to access it again.</p>
        {% endif %}
        <h1>Seating Chart Planner</h1>

        <article class="existing_jobs hide">

        </article>

        <article>
            <h2>Instructions</h2>
            <span style="display:block;">
                <p>Hosting a dining event? Need to figure out who to seat each of your guests with? </p>
            </span>
            <span>
                <p>We'll show you how best to seat your guests.</p>
            </span>

            <div>
                <h3>1. Creating a Guest List</h3>

                <p>
                    <a href="/from_photos">You can allow us to initialise a guest list</a> based on who appears in your Facebook photos.
                    Afterwards, modify the guest list through Microsoft Excel (or LibreOffice) and submit it on this page.
                </p>
                <p>
                    In this Excel spreadsheet, your guests should primarily be organised based on who knows each other.
                    Name the groups through the header of each column.
                </p>

                <p>
                    Do the same for unfriendly relationships: create a column with guests who should not sit with each other.
                    You will be given an option to indicate the nature of the relationship in the next step.
                </p>
                <p>
                    If there are any guests who do not belong in any social group, also put them together under a column.
                </p>

                <img src="static/example.PNG">

                <p>
                    Individuals should be listed in multiple groups/columns.
                    E.g. "Hercule Poirot" is a classmate to both the groom and bride, hence he is listed in both groups of friends.
                </p>

                <div>Or download a template guest list <a href="static/example.xlsx">here</a> and complete it by hand.</div>

            </div>

            <div>
                <h3>2. Upload Guest List</h3>
                <form method="post" enctype="multipart/form-data" action="review">
                <fieldset>
                    <label for="file-upload">Guest List (.csv or .xlsx)</label>
                    <input id="file-upload" type="file" name="file">
                    <label for="table-size">Seats per table</label>
                    <input id="table-size" type="number" name="size"
                            placeholder="10">
                    <input id="facebook_access_token" name="facebook_access_token" type="hidden">
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <input type="submit" value="Upload">
                </fieldset>
                </form>
            </div>

            <div class="retrieve-results">
                <h3>Retrieve Results</h3>
                <p>
                    If you logged in to Facebook before submitting your guest list, simply login again to retrieve your seating chart.
                    Otherwise, you can retrieve a seating plan with the token that was given to you.
                </p>


                <form method="get" enctype="multipart/form-data" action="retrieve">
                    <fieldset>
                        <label for="job_id">Token</label>
                      <input type="text" name="job_id" id="job_id">

                     <input type="submit" value="Retrieve">
                    </fieldset>
                </form>
            </div>
        </article>
    </section>

    <footer>
        <nav>
            <ul>
                <li>
                    <small>
                        <a href="/privacy">Privacy</a>
                    </small>
                </li>
                <li>
                    <small>
                        <a href="/terms">Terms and Conditions</a>
                    </small>
                </li>
            </ul>
        </nav>

    </footer>


</body>
</html>
