<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Chart Plan - Seating Plan</title>
        <link rel="stylesheet"
    href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.5.min.css"/>
    <link defer rel="stylesheet" type="text/css" href="static/basic.css?date={{yearmonth}}">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script defer src="static/common.js?date={{yearmonth}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>
<body>
    <div>
        <h1>Seating Chart</h1>
    </div>
    <article>
        <h2>Seating Chart</h2>
        <label class="right">
            <input type="checkbox" name="see-original-clique-names" id="see-original-clique-names">
            Label each person with original groups
        </label>
        {{ result.table | safe}}
    </article>

    <article class="below-results">

        <p>This proposed seating plan will be available at this url for about 2 weeks.</p>
        <p>You can download this seating plan (viewable with Excel).</p>
        <form class="download" method="POST" action="retrieve_as_xlsx">
            <input type="hidden" name="job_id" value="{{ result.job_id }}">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <input type="submit" value="Download"></form>
        </form>

        <form class="delete-form" action="delete" method="POST">
            <small>You can delete this seating plan early if you wish.</small>
            <fieldset>
                <input type="hidden" name="job_id" value="{{ result.job_id }}" />
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <input type="submit" value="Delete" class="red">
            </fieldset>
        </form>
    </article>

    <a href="/">Back to Home</a>

    <footer>
        <nav>
            <ul>
                <li>
                    <small>
                        <a href="/privacy">Privacy</a>
                    </small>
                </li>
                <li>
                    <small>
                        <a href="/terms">Terms and Conditions</a>
                    </small>
                </li>
            </ul>
        </nav>

    </footer>


</body>
</html>