<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tables</title>
        <link rel="stylesheet"
    href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.5.min.css"/>
    <link defer rel="stylesheet" type="text/css" href="static/basic.css?date={{yearmonth}}">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script defer src="static/common.js"></script>


</head>
<body>
    <div>
        <h1>Seating Plan</h1>
    </div>
    <article>
        <label class="right">
            <input type="checkbox" name="see-original-clique-names" id="see-original-clique-names">
            Label each person with original groups
        </label>
        {{ result.table | safe}}
    </article>

    <article class="below-results">

        <p>This proposed seating plan will be available here forever.</p>
        <p>You can download this seating plan (viewable with Excel).</p>
        <form method="POST" action="retrieve_as_xlsx">
            <input type="hidden" name="job_id" value="{{ result.job_id }}">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <input type="submit" value="Download"></form>
        </form>

        <form class="delete-form" action="delete" method="POST">
            <small>Once done with your event, please help us save storage cost by deleting this seating plan.</small>
            <fieldset>
                <input type="hidden" name="job_id" value="{{ result.job_id }}" />
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <input type="submit" value="Delete" class="red">
            </fieldset>
        </form>
    </article>

   <script>
        $('#see-original-clique-names').click(function(event) {
            $('.community-tag').toggleClass('show');
        });

    </script>
</body>
</html>