<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Chart Plan - Review Submitted Information</title>
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.5.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/basic.css?date={{yearmonth}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="static/common.js?date={{yearmonth}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <article>
        {% if error_message|length > 0 %}
            <strong>{{error_message}}</strong>

        {% else %}

        <h1>Review Information</h1>

        <p>Please review some information by answering a few simple questions.</p>

        {% if warning_message|length > 0 %}
            <em>{{warning_message}}</em>
        {% endif %}

        <div class="hide">
            <h3>Are these person names typos?</h3>
            <p>TODO</p>
            <h3>Are these duplicated column names typos?</h3>
            <p>TODO</p>
        </div>

        <form action="solve" method="POST">
            <input type="hidden" name="job_id" value="{{job_id}}">

            <h3>How important is it that people within each group sit together?</h3>

            <fieldset>
                <input type="hidden" name="num_cliques" value="{{clique_names|length}}">
                {% for clique_name in clique_names %}
                    <label>{{clique_name}}</label>

                    <div>
                        <select name="{{loop.index}}_weight">
                            <option value="2">Important to</option>
                            <option value="1" selected>Should </option>
                            <option value="0">Do not need to</option>
                            <option value="-1">Should NOT </option>
                            <option value="-2">Important NOT to</option>
                        </select>
                        <span>sit together</span>
                    </div>
                    <input class="hide" type="checkbox" name="{{loop.index}}_clique_name" value="{{clique_name}}" checked>
                {% endfor %}
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <input id="facebook_access_token" name="facebook_access_token" type="hidden" value="{{ facebook_access_token }}">
                <input type="submit" name="submit" value="Finalise">
            </fieldset>

        </form>

        {% endif %}
    </article>

    <footer>
        <nav>
            <ul>
                <li>
                    <small>
                        <a href="/privacy">Privacy</a>
                    </small>
                </li>
                <li>
                    <small>
                        <a href="/terms">Terms and Conditions</a>
                    </small>
                </li>
            </ul>
        </nav>

    </footer>

</body>
</html>