<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Chart Plan - Template Spreadsheet</title>
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.5.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/basic.css?date={{yearmonth}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/common.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
          appId            : '{{fb_app_id}}',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.11'
        });

        facebookLogin(function() {});
      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <section>
        <article>
            <form id="template_spreadsheet_contents" action="template_spreadsheet_contents" method="POST">
                <input type="hidden" id="communities" name="communities" value="{{communities}}">

                <input type="hidden" id="persons" name="persons" value="{{persons}}">

                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            </form>

            <label class="right">
                <input type="checkbox" name="see-original-clique-names" id="see-original-clique-names">
                Show each person with photos they appear in (hover over the photo to view it)
            </label>
            <div id="contents">

            </div>




        </article>

    </section>

    <div id="image-dialog" class="hide">
        <img id="image-on-hover" src="">
    </div>

    <script>
        var communities = $('#communities').val();
        var persons = $('#persons').val();
        var alreadyRetrieved = null;

        var linksOfImages = {};
        var fbPictureLinkOfImages = {};

        $('#template_spreadsheet_contents').submit(function(event) {
            event.preventDefault(); // no submission
            $.ajax({
                url : $(this).attr('action'),
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    $("#contents").html(data);
                    if (FB != null)
                        facebookLogin();
                },
                error: function (jXHR, textStatus, errorThrown) {

                }
            });
        });

        $('#template_spreadsheet_contents').submit();


        function facebookLogin(errCallback) {
              if (alreadyRetrieved != null && alreadyRetrieved) {
                return;
              }
              alreadyRetrieved = true;
              FB.getLoginStatus(function(response){
              // TODO check if login already
                if (response.status === 'connected') {
                    statusChangeCallback(response);
                } else {
                    if (errCallback) {
                        errCallback();
                    } else {
                        $('.fb-login-message').removeClass('hide');
                    }
                }
              }, {scope: 'user_photos'});
        }

        function statusChangeCallback(response) {
            fetchExistingPhotos(response.authResponse.accessToken);
        };

        function fetchExistingPhotos(accessToken) {
            var values = $('.community-tag')
            var photoIds = []
            for (value of values) {
                photoIds.push($(value).data('photo-id'));
            }
            photoIds = new Set(photoIds);
            for (photoId of photoIds) {
                FB.api(photoId + '?fields=picture,link', function(response) {
                    console.log(response);
                    linksOfImages[response.id] = response.link;
                    fbPictureLinkOfImages[response.id] = response.picture;
                });
            }

            $('.community-tag').click(function(event) {

                var photoId = $(event.target).data('photo-id');
                var url = linksOfImages[photoId];
                window.open(url, '_blank');

            });

            $('.community-tag').hover(function(event) {
                function getOffset(el) {
                      el = el.getBoundingClientRect();
                      return {
                        left: el.left + window.scrollX,
                        top: el.top + window.scrollY
                      }
                    }


                $('#image-dialog').removeClass('hide')
                .css('top', getOffset(event.target).top)
                .css('left', getOffset(event.target).left + event.target.offsetWidth);

                var photoId = $(event.target).data('photo-id');
                var image = fbPictureLinkOfImages[photoId];

                $('#image-on-hover').attr('src', image);

            });

        }

    </script>

</body>
</html>